<template>
    <div>
        <home-head/>
        <van-tabs v-model:active="active" line-height="0">
            <van-tab title="週一">
                <div class="daily_list" style="">
                    <ul class="lst_type1 v2">

                        <li>
                            <a href="https://m.webtoons.com/zh-hant/fantasy/duzhe/list?title_no=2089"
                               class="lst_item N=a:dsd.list,i:2089,g:zh_TW_zh-hant">
                                <div class="icon_area">


                                    <span class="ico ico_up_tw">更新</span>

                                </div>
                                <div class="pic" data-title-unsuitable-for-children="false"
                                     data-title-unsuitable-for-children-skin="harmful_black_skin1">
                                    <img src="https://mwebtoon-phinf.pstatic.net/20200619_24/1592544307650BRpqs_PNG/E585A8E79FA5E8AE80E88085E8A696E8A792_E4BD9CE59381E9A0.png?type=q70"
                                         width="100%" alt="全知讀者視角">


                                </div>
                                <div class="info">
                                    <p class="genre g_fantasy">奇幻冒險</p>
                                    <p class="subj"><span class="ellipsis">全知讀者視角</span></p>
                                    <p class="grade_area">
                                        <span class="grade">like</span>
                                        <em class="grade_num"> 124.8萬</em>
                                    </p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="https://m.webtoons.com/zh-hant/school/i-can-fight-better/list?title_no=1838"
                               class="lst_item N=a:dsd.list,i:1838,g:zh_TW_zh-hant">
                                <div class="icon_area">


                                    <span class="ico ico_up_tw">更新</span>

                                </div>
                                <div class="pic" data-title-unsuitable-for-children="false"
                                     data-title-unsuitable-for-children-skin="harmful_black_skin1">
                                    <img src="https://mwebtoon-phinf.pstatic.net/20210530_41/1622373797451f1ALV_JPEG/4thumb_M28EAB080EC9D8429.jpg?type=q70"
                                         width="100%" alt="格鬥實況">


                                </div>
                                <div class="info">
                                    <p class="genre g_school">校園</p>
                                    <p class="subj"><span class="ellipsis">格鬥實況</span></p>
                                    <p class="grade_area">
                                        <span class="grade">like</span>
                                        <em class="grade_num"> 107.8萬</em>
                                    </p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="https://m.webtoons.com/zh-hant/western-palace/envbianshen/list?title_no=1904"
                               class="lst_item N=a:dsd.list,i:1904,g:zh_TW_zh-hant">
                                <div class="icon_area">


                                    <span class="ico ico_up_tw">更新</span>

                                </div>
                                <div class="pic" data-title-unsuitable-for-children="false"
                                     data-title-unsuitable-for-children-skin="harmful_black_skin1">
                                    <img src="https://mwebtoon-phinf.pstatic.net/20220120_33/16426659892707LSP6_PNG/4E683A1E5A5B3E79A84E8AE8AE8BAABE4BD9CE59381E9A081E5A5.png?type=q70"
                                         width="100%" alt="惡女的變身">


                                </div>
                                <div class="info">
                                    <p class="genre g_western_palace">歐式宮廷</p>
                                    <p class="subj"><span class="ellipsis">惡女的變身</span></p>
                                    <p class="grade_area">
                                        <span class="grade">like</span>
                                        <em class="grade_num"> 159萬</em>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </van-tab>
            <van-tab title="週二">週二</van-tab>
            <van-tab title="週三">週三</van-tab>
            <van-tab title="週四">週四</van-tab>
            <van-tab title="週五">週五</van-tab>
            <van-tab title="週六">週六</van-tab>
            <van-tab title="週日">週日</van-tab>
            <van-tab title="完結">完結</van-tab>
        </van-tabs>
        <footer-nav></footer-nav>
    </div>
</template>

<script>
    import {useDaily} from "../../../hooks/daily";
    import homeHead from "@/components/h5/home-head.vue";
    import footerNav from '@/components/h5/footer-nav.vue'

    export default {
        name: "daily",
        components: {homeHead,footerNav},
        setup() {
         return{
             ...useDaily()
         }
        }
    }
</script>

<style scoped lang="less">
    ::v-deep(.van-tabs__nav) {
        .van-tab {
            font-size: 12px;
            font-weight: 700;
            color: #000;
        }

        .van-tab--active {
            background: #fd5958;
            color: #ffffff;
        }

    }
</style>
