<template>
    <footer role="contentinfo" class="NE=a:fot">
        <div class="top_area">

            <a href="#" class="btn_top N=a:hom.top,g:zh_TW_zh-hant" v-scroll-to="'#element'" style=""><span class="u_vc">Go to TOP</span></a>
        </div>


        <p class="downapp_area2">
            <span>立即下載 LINE WEBTOON APP,<br> 我們在這等你唷!(放電)</span>
            <a class="_main_footer_app_download lk_appdown N=a:hom.app,g:zh_TW_zh-hant">立即下載</a>
        </p>



        <div class="main_notice" id="noticeArea" style=""><a href="https://m.webtoons.com/zh-hant/notice/list" class="NPI=a:notlist,g:zh_TW_zh-hant"><strong>通知</strong></a><a href="/notice/detail?noticeNo=2545" class="NPI:a=notpage,g:zh_TW_zh-hant"><span class="ellipsis">【超夯活動】王者之戰：最強S級PK戰！代幣大放送2022名~</span></a>
        </div>


        <ul class="foot_sns">

            <li><a href="https://www.facebook.com/LINEWEBTOONTW/" class="btn_foot_facebook"><span class="u_vc">facebook</span></a></li>

            <li><a href="https://www.instagram.com/linewebtoon_tw/" class="btn_foot_instagram"><span class="u_vc">instagram</span></a></li>

            <li><a href="https://line.me/R/ti/p/%40linewebtoon" class="btn_foot_line"><span class="u_vc">line</span></a></li>

        </ul>
        <p class="foot_menu">
            <a href="https://contact-cc.line.me/serviceId/12379?continue_without_login=true" rel="”nofollow”" class="NPI=a:feedback,g:zh_TW_zh-hant">意見回饋</a>
            <a href="https://help2.line.me/LINE_WEBTOON/sp?lang=zh-hant" rel="”nofollow”" class="NPI=a:help,g:zh_TW_zh-hant">幫助</a>
            <a href="https://m.webtoons.com/zh-hant/terms" class="NPI=a:tos,g:zh_TW_zh-hant">條款</a>
            <a href="https://m.webtoons.com/zh-hant/terms#privacyPolicy" class="NPI=a:privacy,g:zh_TW_zh-hant">隱私權保護</a>
            <a href="https://m.webtoons.com/zh-hant/consentsManagement" style="display: none" class="NPI=a:personaldata gdprFooter">個資使用詳細內容</a>
            <a href="https://m.webtoons.com/zh-hant/advertising">廣告</a>
            <a href="https://m.webtoons.com/zh-hant/terms/dnsmpi" style="display: none" class="NPI=a:Donotsellinfo ccpaFooter">Do Not Sell My Personal Information</a>
        </p>
        <p class="copyright">ⓒ WEBTOON Entertainment Inc.</p>
        <span class="foot_logo"><em class="blind">LINE WEBTOON</em></span>


    </footer>
</template>

<script>
    export default {
        name: "footerNav"
    }
</script>

<style scoped>

</style>
