<template>
    <div id="element">
        <header role="banner" id="home-header" class="main_header">


            <div class="gnb">
                <!-- logo -->
                <h1><span class="logo"><span class="u_vc">LINE WEBTOON</span></span>
                </h1>
                <!-- //logo -->
                <a href="https://m.webtoons.com/zh-hant/search" class="btn_search N=a:mnb.search,g:zh_TW_zh-hant"><span class="u_vc">search</span></a>
            </div>


            <nav>




                <ul role="navigation" class="lnb NE=a:mnb" id="lnbMenu">
                    <!-- [D] 메뉴 선택시 class="on" 추가 -->
                    <li class="menu1 on" data-menu-name="home"><a href="https://m.webtoons.com/zh-hant/" class="_btnLnbHome NPI=a:home,g:zh_TW_zh-hant"><span class="u_vc">首頁</span></a></li>
                    <li class="menu2 " data-menu-name="dailySchedule"><a href="https://m.webtoons.com/zh-hant/dailySchedule" class="NPI=a:daily,g:zh_TW_zh-hant"><span class="u_vc">星期排序</span></a></li>

                    <li class="menu3 _challenge " data-menu-name="challenge"><a href="https://m.webtoons.com/zh-hant/challenge" class="NPI=a:challenge,g:zh_TW_zh-hant"><span class="u_vc">投稿新星專區</span></a></li>

                    <li class="menu4 " data-menu-name="my"><a href="https://m.webtoons.com/zh-hant/recent" class="NPI=a:my,g:zh_TW_zh-hant"><span class="u_vc">我的漫畫</span></a></li>
                    <li class="menu5 " data-menu-name="more"><a href="https://m.webtoons.com/zh-hant/more" class="NPI=a:more,g:zh_TW_zh-hant"><span class="u_vc">查看更多</span></a></li>
                </ul>

            </nav>
        </header>
    </div>
</template>

<script>
    export default {
        name: "homeHead"
    }
</script>

<style scoped>

</style>
