<!--
 * 严肃声明：
 * 开源版本请务必保留此注释头信息，若删除我方将保留所有法律责任追究！
 * 本系统已申请软件著作权，受国家版权局知识产权以及国家计算机软件著作权保护！
 * 可正常分享和学习源码，不得用于违法犯罪活动，违者必究！
 * Copyright (c) 2020 陈尼克 all rights reserved.
 * 版权所有，侵权必究！
 *
-->

<template>
  <div>
      <home-head />
      <!--轮播图-->
      <van-swipe class="my-swipe" @change="swChange" :autoplay="3000" indicator-color="#1baeae">
          <van-swipe-item>
              <img src="../../assets/banner/banner1.png" alt="">
          </van-swipe-item>
           <van-swipe-item>
              <img src="../../assets/banner/banner2.png" alt="">
          </van-swipe-item>
           <van-swipe-item>
              <img src="../../assets/banner/banner3.png" alt="">
          </van-swipe-item>
           <van-swipe-item>
              <img src="../../assets/banner/banner4.png" alt="">
          </van-swipe-item>
          <template #indicator>
              <div class="custom-indicator">{{ active + 1 }}/{{ total }}</div>
          </template>
      </van-swipe>
      <h2 class="title _favoriteListTitle" style="">
          <a href="https://m.webtoons.com/recent" id="_aTitle" class="NPI=a:sbcmore,g:zh_TW_zh-hant">我的漫畫</a>
      </h2>
      <div class="mywebtoon_list open _favoriteList" style="">
          <ul class="lst_type1" id="favoriteWebtoonList"><li data-title="710523" data-webtoon-type="C">
              <a href="https://m.webtoons.com/zh-hant/challenge/%25E8%25AB%2587%25E6%2583%2585%25E8%25AA%25AA%25E6%2584%259B%25E4%25BD%25A0/list?title_no=710523" class="lst_item NPI=a:sbclist,g:zh_TW_zh-hant">
                  <div class="icon_area">
                      <span class="ico ico_up_tw">UP</span>
                  </div>
                  <div class="pic" data-title-unsuitable-for-children="true" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                      <img src="../../assets/banner/0E5BC95E8B7AFE4BABA_S3_E4BD9CE59381E9A081_thumb_M_240x254.png"  alt="談情說愛你"></div>
                  <div class="info">
                      <p class="subj"><span class="ellipsis">談情說愛你</span></p>
                  </div>
              </a>
              <span class="subscribe_area"><a href="#" class="btn_subscribe NPI=a:sbclogin,g:zh_TW_zh-hant">最愛</a></span>
          </li>

              <li data-title="1226" data-webtoon-type="W">
                  <a href="https://m.webtoons.com/zh-hant/local/hellmessenger/list?title_no=1226" class="lst_item NPI=a:sbclist,g:zh_TW_zh-hant">
                      <div class="icon_area">
                      </div>
                      <div class="pic" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                          <img src="../../assets/banner/ed57b17f-ff52-4b42-b8c5-d512424ba97f.png" alt="引路人"></div>
                      <div class="info">
                          <p class="subj"><span class="ellipsis">引路人</span></p>
                      </div>
                  </a>
                  <span class="subscribe_area"><a href="#" class="btn_subscribe NPI=a:sbclogin,g:zh_TW_zh-hant">最愛</a></span>
              </li>

              <li class="add">
                  <span class="subscribe_area"><a class="btn_subscribe">我的最愛</a></span>
                  <a class="lst_item">
                      <div class="pic">
                          <img src="https://webtoons-static.pstatic.net/image/mobile/noimg4.gif" width="100%" alt="">
                          <p class="subscribe_dsc">接收作品更新通知，?隨時掌握最新進度！</p>
                      </div>
                      <div class="info"></div>
                  </a>
              </li>

              <li>
                  <a class="lst_item">
                      <div class="pic">
                          <img src="https://webtoons-static.pstatic.net/image/mobile/noimg4.gif" width="100%" alt="no image">
                      </div>
                      <div class="info"></div>
                  </a>
              </li>

              <li>
                  <a class="lst_item">
                      <div class="pic">
                          <img src="https://webtoons-static.pstatic.net/image/mobile/noimg4.gif" width="100%" alt="no image">
                      </div>
                      <div class="info"></div>
                  </a>
              </li>
          </ul>
      </div>
      <h2 class="title">
          <a href="https://m.webtoons.com/zh-hant/new" class="NPI=a:newmore,g:zh_TW_zh-hant">新作品登場</a>
      </h2>
      <ul class="lst_type6 main">

          <li class="type2"><a href="https://m.webtoons.com/zh-hant/eastern-palace/bride-of-desert/list?title_no=3925" class="NPI=a:newlist,i:3925,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
              <div class="pic" style="background-image:url(https://mwebtoon-phinf.pstatic.net/20220214_172/1644827126233psC1J_PNG/8E4BD9CE59381E9A081E5A597E7B584NEW_iPad_2048x410.png?type=q70)"></div>
              <div class="info">
                  <p class="genre">
                      古代宮廷
                  </p>
                  <p class="subj">
                      <span class="ellipsis">沙漠的新娘</span>
                  </p>
                  <p class="summary">
							<span class="ellipsis">霓夏的少根筋的公主，成為錦國的皇后！
沙漠之國霓夏的海琅公主被一國之君的哥哥送去和親，成為錦國皇帝的後宮。身為一位連錦國都嗤之以鼻的後宮，海琅決心要安靜地活下去。但不知為何，初次見面就斥責海琅的皇帝卻願意與她共度初夜，且立即將她冊封為'緣妃'，因而受到其他後宮們的牽制。海琅不明所以，皇帝的舉動又不斷地牽動著她的心，讓她的內心充滿了混亂…​</span>
                  </p>
              </div>
          </a></li>

          <li class=""><a href="https://m.webtoons.com/zh-hant/western-palace/monster-dukes-daughter/list?title_no=4002" class="NPI=a:newlist,i:4002,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
              <div class="pic" style="background-image:url(https://mwebtoon-phinf.pstatic.net/20220225_215/1645776046851dkltN_PNG/7E4BD9CE59381E9A081E5A597E7B584NEW_iPad_2048x410.png?type=q70)"></div>
              <div class="info">
                  <p class="genre">
                      歐式宮廷
                  </p>
                  <p class="subj">
                      <span class="ellipsis">怪物公爵的千金</span>
                  </p>
                  <p class="summary">
                      <span class="ellipsis">人稱「怪物公爵」的爸爸，把原本與世隔絕的我帶回宅邸...某天我在爸爸的書房裡發現了一本奇怪的書…內容竟然說到我的死亡，還有爸爸不僅另有養女甚至對她疼愛有加？如果我注定會死，在那之前不管做什麼都不會死囉？那我還不先為所欲為一波再說！</span>
                  </p>
              </div>
          </a></li>

      </ul>
      <h2 class="title">
          <a href="https://m.webtoons.com/zh-hant/dailySchedule" class="NPI=a:tdymore,g:zh_TW_zh-hant">今日的漫畫</a>
      </h2>
      <div class="daily_list main">
          <ul class="lst_type1" id="todaysWebtoonList"><li>
              <a href="/episodeList?titleNo=1862" class="lst_item N=a:hom.tdylist,i:1862,g:zh_TW_zh-hant">
                  <div class="icon_area">
                      <span class="ico ico_hiatus_tw">HIATUS</span>
                  </div>
                  <div class="pic" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                      <img src="https://mwebtoon-phinf.pstatic.net/20191225_198/1577269149214r8Q0T_PNG/thumb_M_240x254.png?type=q70" width="100%" alt="我與教授難以啟齒">
                  </div>
                  <div class="info">
                      <p class="genre g_local">台灣原創作品</p>
                      <p class="subj"><span class="ellipsis">我與教授難以啟齒</span></p>
                      <p class="grade_area">
                          <span class="grade">likeit count</span>
                          <em class="grade_num">259.5萬</em>
                      </p>
                  </div>
              </a>
          </li>

              <li>
                  <a href="/episodeList?titleNo=3385" class="lst_item N=a:hom.tdylist,i:3385,g:zh_TW_zh-hant">
                      <div class="icon_area">
                      </div>
                      <div class="pic" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                          <img src="https://mwebtoon-phinf.pstatic.net/20210913_293/1631509014971aSC1X_JPEG/4thumb_M.jpg?type=q70" width="100%" alt="我的室友帥哥學長">
                      </div>
                      <div class="info">
                          <p class="genre g_romance">愛情</p>
                          <p class="subj"><span class="ellipsis">我的室友帥哥學長</span></p>
                          <p class="grade_area">
                              <span class="grade">likeit count</span>
                              <em class="grade_num">335,143</em>
                          </p>
                      </div>
                  </a>
              </li>

              <li>
                  <a href="/episodeList?titleNo=2115" class="lst_item N=a:hom.tdylist,i:2115,g:zh_TW_zh-hant">
                      <div class="icon_area">
                      </div>
                      <div class="pic" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                          <img src="https://mwebtoon-phinf.pstatic.net/20210507_169/1620381097486FsYbX_PNG/0E68891E5A5AAE8B5B0E4BA86E585ACE788B5E79A84E5889DE5A4.png?type=q70" width="100%" alt="我奪走了公爵的初夜">
                      </div>
                      <div class="info">
                          <p class="genre g_western_palace">歐式宮廷</p>
                          <p class="subj"><span class="ellipsis">我奪走了公爵的初夜</span></p>
                          <p class="grade_area">
                              <span class="grade">likeit count</span>
                              <em class="grade_num">131.7萬</em>
                          </p>
                      </div>
                  </a>
              </li>

              <li>
                  <a href="/episodeList?titleNo=450" class="lst_item N=a:hom.tdylist,i:450,g:zh_TW_zh-hant">
                      <div class="icon_area">
                          <span class="ico ico_hiatus_tw">HIATUS</span>
                      </div>
                      <div class="pic" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                          <img src="https://mwebtoon-phinf.pstatic.net/20190413_39/1555145836291Jzpg3_PNG/thumb_M_240x254+28129.png?type=q70" width="100%" alt="宅男打籃球">
                      </div>
                      <div class="info">
                          <p class="genre g_local">台灣原創作品</p>
                          <p class="subj"><span class="ellipsis">宅男打籃球</span></p>
                          <p class="grade_area">
                              <span class="grade">likeit count</span>
                              <em class="grade_num">161.3萬</em>
                          </p>
                      </div>
                  </a>
              </li>

              <li>
                  <a href="/episodeList?titleNo=1773" class="lst_item N=a:hom.tdylist,i:1773,g:zh_TW_zh-hant">
                      <div class="icon_area">
                      </div>
                      <div class="pic" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                          <img src="https://mwebtoon-phinf.pstatic.net/20200504_46/1588568203560qHDKm_PNG/E789B9E6AE8AE68880E4BABAE694BBE795A5_E5B081E99DA2E69B.png?type=q70" width="100%" alt="特殊戀人攻略">
                      </div>
                      <div class="info">
                          <p class="genre g_romance">愛情</p>
                          <p class="subj"><span class="ellipsis">特殊戀人攻略</span></p>
                          <p class="grade_area">
                              <span class="grade">likeit count</span>
                              <em class="grade_num">148.7萬</em>
                          </p>
                      </div>
                  </a>
              </li>

              <li>
                  <a href="/episodeList?titleNo=3901" class="lst_item N=a:hom.tdylist,i:3901,g:zh_TW_zh-hant">
                      <div class="icon_area">
                      </div>
                      <div class="pic" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin1">
                          <img src="https://mwebtoon-phinf.pstatic.net/20220121_242/1642741813182rqFaN_PNG/5thumb_M_240x254.png?type=q70" width="100%" alt="我吃了那男孩一整年的早餐">
                      </div>
                      <div class="info">
                          <p class="genre g_adaptation">影視化</p>
                          <p class="subj"><span class="ellipsis">我吃了那男孩一整年的早餐</span></p>
                          <p class="grade_area">
                              <span class="grade">likeit count</span>
                              <em class="grade_num">39,723</em>
                          </p>
                      </div>
                  </a>
              </li>
          </ul>
          <h2 class="title v2"><a>我最愛的分類</a></h2>
          <div class="main_genre_wrap _favoriteGenre g_local" id="favoriteGenre1"><h2 class="title"><a href="/genre?genre=LOCAL" class="NPI=a:gnrmore,g:zh_TW_zh-hant">台灣原創作品 <span class="genre_dsc">我看台漫我驕傲～編輯精心推薦的繁體創作專區</span></a></h2>
              <div class="main_genre_cont">
                  <div class="scroll_list">
                      <!-- 가로 스크롤 -->
                      <ul id="view_genre_LOCAL">
                          <div class="eg-flick-viewport" style="position: relative; z-index: 2000; overflow: visible; min-height: 100%; width: 100%; touch-action: pan-y; user-select: none; -webkit-user-drag: none; height: 62px;"><div class="eg-flick-camera" style="width: 100%; height: 100%; will-change: transform; transform: translate3d(0px, 0px, 0px);"><li class="eg-flick-panel" style="position: absolute; left: 0px;"><a href="/episodeList?titleNo=603" class="N=a:hom.gnrlist,i:603,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20180214_269/1518571507136WY8O1_PNG/2018E5B081E99DA2E69BB4E696B0_mobile_E5A4AAE5A4AA-1.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 65px;"><a href="/episodeList?titleNo=3850" class="N=a:hom.gnrlist,i:3850,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20220117_240/1642409294459is0IX_PNG/6E5A4A9E9BB91E8AB8BE99689E79CBCE4BD9CE59381E9A081E5A5.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 130px;"><a href="/episodeList?titleNo=528" class="N=a:hom.gnrlist,i:528,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20150819_186/1439973124564yAedh_JPEG/EFBDA4EFBDB6EFBDA4EFBE83EFBDA4EFBDB1EFBDA4EFBDA4EFBDA.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 195px;"><a href="/episodeList?titleNo=887" class="N=a:hom.gnrlist,i:887,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20161202_248/14806407079637MHh7_JPEG/tumb_mobile.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 260px;"><a href="/episodeList?titleNo=1202" class="N=a:hom.gnrlist,i:1202,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20171017_74/1508229516529WOfsf_PNG/thumb_M_240x254.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 325px;"><a href="/episodeList?titleNo=3269" class="N=a:hom.gnrlist,i:3269,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210818_100/1629265964240VsO4v_JPEG/4thumb_M.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 390px;"><a href="/episodeList?titleNo=1952" class="N=a:hom.gnrlist,i:1952,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20200319_179/1584593225916EQ2L2_PNG/thumb_M_240x254+28229.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 455px;"><a href="/episodeList?titleNo=667" class="N=a:hom.gnrlist,i:667,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20180214_298/151857083177092wuD_PNG/2018E5B081E99DA2E69BB4E696B0_mobile_E68891E58091E79A84E69.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 520px;"><a href="/episodeList?titleNo=3747" class="N=a:hom.gnrlist,i:3747,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20211222_271/1640163499698XE8S3_PNG/3E5A79CE88081E5B8ABEFBC8CE5A6B3E8AB87E9818EE68880E684.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 585px;"><a href="/episodeList?titleNo=1206" class="N=a:hom.gnrlist,i:1206,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20190211_183/1549846806752sNGsQ_PNG/JHm.png?type=q70" width="100%" height="100%"></a></li></div></div></ul>
                      <!-- //가로 스크롤 -->
                  </div>
              </div>
          </div>
          <div class="main_genre_wrap _favoriteGenre g_romance" id="favoriteGenre2"><h2 class="title"><a href="/genre?genre=ROMANCE" class="NPI=a:gnrmore,g:zh_TW_zh-hant">愛情 <span class="genre_dsc">三分鐘，找到我的命定之人！</span></a></h2>
              <div class="main_genre_cont">
                  <div class="scroll_list">
                      <!-- 가로 스크롤 -->
                      <ul id="view_genre_ROMANCE">
                          <div class="eg-flick-viewport" style="position: relative; z-index: 2000; overflow: visible; min-height: 100%; width: 100%; touch-action: pan-y; user-select: none; -webkit-user-drag: none; height: 62px;"><div class="eg-flick-camera" style="width: 100%; height: 100%; will-change: transform; transform: translate3d(0px, 0px, 0px);"><li class="eg-flick-panel" style="position: absolute; left: 0px;"><a href="/episodeList?titleNo=1672" class="N=a:hom.gnrlist,i:1672,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210718_117/1626617167305mqqLn_JPEG/3thumb_M.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 65px;"><a href="/episodeList?titleNo=3901" class="N=a:hom.gnrlist,i:3901,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20220121_242/1642741813182rqFaN_PNG/5thumb_M_240x254.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 130px;"><a href="/episodeList?titleNo=2932" class="N=a:hom.gnrlist,i:2932,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210618_142/1624010579878sa4lq_JPEG/8thumb_M.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 195px;"><a href="/episodeList?titleNo=2058" class="N=a:hom.gnrlist,i:2058,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20211027_169/1635295664673eO6ql_JPEG/533+28129.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 260px;"><a href="/episodeList?titleNo=2924" class="N=a:hom.gnrlist,i:2924,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210611_204/1623378510176s3QiV_JPEG/7thumb_M.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 325px;"><a href="/episodeList?titleNo=1479" class="N=a:hom.gnrlist,i:1479,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20190311_52/1552287165711aQO6c_PNG/thumb_M_240x254.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 390px;"><a href="/episodeList?titleNo=1073" class="N=a:hom.gnrlist,i:1073,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20180925_299/1537846826140C7Umh_PNG/thumb_M_240x254.png?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 455px;"><a href="/episodeList?titleNo=1048" class="N=a:hom.gnrlist,i:1048,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20170530_153/1496105723936BnrcN_JPEG/thumb_M.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 520px;"><a href="/episodeList?titleNo=3268" class="N=a:hom.gnrlist,i:3268,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210817_214/1629176894717JWiWR_JPEG/2thumb_M.jpg?type=q70" width="100%" height="100%"></a></li><li class="eg-flick-panel" style="position: absolute; left: 585px;"><a href="/episodeList?titleNo=3320" class="N=a:hom.gnrlist,i:3320,g:zh_TW_zh-hant" data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210913_281/1631513605004E30Ne_JPEG/4thumb_M.jpg?type=q70" width="100%" height="100%"></a></li></div></div></ul>
                      <!-- //가로 스크롤 -->
                  </div>
              </div>
          </div>
      </div>
      <h2 class="title">
          <a href="https://m.webtoons.com/zh-hant/top" class="NPI=a:rnkmore,g:zh_TW_zh-hant">人氣排行榜</a>
      </h2>
      <div class="toprated_list">
          <ul class="lst_type2">

              <li><a href="https://m.webtoons.com/zh-hant/adaptation/ohmymuse/list?title_no=1411" class="N=a:hom.rnklist,i:1411,r:1,g:zh_TW_zh-hant">
                  <div class="row">
                      <div class="col num"><span class="rank1">1</span></div>
                      <div class="col pic"><span data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210203_249/1612359659942qy3R7_JPEG/581.jpg?type=q70" width="100%" alt="女神降臨"></span></div>
                      <div class="col info">
                          <p class="genre">影視化</p>
                          <p class="col subj">



                              <strong class="ellipsis">女神降臨</strong>



                          </p>
                      </div>
                  </div>
              </a></li>

              <li><a href="https://m.webtoons.com/zh-hant/western-palace/princessnasi/list?title_no=1618" class="N=a:hom.rnklist,i:1618,r:2,g:zh_TW_zh-hant">
                  <div class="row">
                      <div class="col num"><span>2</span></div>
                      <div class="col pic"><span data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20201210_144/1607529073113aD79a_PNG/6E69F90E5A4A9E68890E782BAE585ACE4B8BB_S3_thumb_M_240x254.png?type=q70" width="100%" alt="某天成為公主"></span></div>
                      <div class="col info">
                          <p class="genre">歐式宮廷</p>
                          <p class="col subj">



                              <span class="ellipsis">某天成為公主</span>


                          </p>
                      </div>
                  </div>
              </a></li>

              <li><a href="https://m.webtoons.com/zh-hant/western-palace/the-remarried-empress/list?title_no=1860" class="N=a:hom.rnklist,i:1860,r:3,g:zh_TW_zh-hant">
                  <div class="row">
                      <div class="col num"><span>3</span></div>
                      <div class="col pic"><span data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20220111_12/1641830706698bE0py_JPEG/9thumb_M.jpg?type=q70" width="100%" alt="再婚皇后"></span></div>
                      <div class="col info">
                          <p class="genre">歐式宮廷</p>
                          <p class="col subj">



                              <span class="ellipsis">再婚皇后</span>


                          </p>
                      </div>
                  </div>
              </a></li>

              <li><a href="https://m.webtoons.com/zh-hant/school/kanlianshidai/list?title_no=546" class="N=a:hom.rnklist,i:546,r:4,g:zh_TW_zh-hant">
                  <div class="row">
                      <div class="col num"><span>4</span></div>
                      <div class="col pic"><span data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210805_99/1628095693174KhxN0_JPEG/44thumb_M.jpg?type=q70" width="100%" alt="看臉時代"></span></div>
                      <div class="col info">
                          <p class="genre">校園</p>
                          <p class="col subj">



                              <span class="ellipsis">看臉時代</span>


                          </p>
                      </div>
                  </div>
              </a></li>

              <li><a href="https://m.webtoons.com/zh-hant/romance/twolines/list?title_no=2456" class="N=a:hom.rnklist,i:2456,r:5,g:zh_TW_zh-hant">
                  <div class="row">
                      <div class="col num"><span>5</span></div>
                      <div class="col pic"><span data-title-unsuitable-for-children="false" data-title-unsuitable-for-children-skin="harmful_black_skin2"><img src="https://mwebtoon-phinf.pstatic.net/20210212_31/16131227272755LN5v_PNG/7E79086E4BA8BE995B7E5928CE68891E79A84E7A595E5AF86E997.png?type=q70" width="100%" alt="理事長和我的祕密關係"></span></div>
                      <div class="col info">
                          <p class="genre">愛情</p>
                          <p class="col subj">
                              <span class="ellipsis">理事長和我的祕密關係</span>
                          </p>
                      </div>
                  </div>
              </a></li>

          </ul>
      </div>
      <footer-nav></footer-nav>
  </div>
</template>

<script>
    import homeHead from "../../components/h5/home-head.vue";
    import footerNav from '../../components/h5/footer-nav.vue'
    import {computed, reactive, toRefs} from "vue";
export default {
  name: 'home',
  components: {
      homeHead,
      footerNav
  },
  setup() {
    const data=reactive({
        active:0,
        total:4
    })
      const swChange=(index)=>{
        data.active=index
      }
      return{
        ...toRefs(data),
          swChange
      }
  },
}
</script>

<style lang="less" scoped >
  @import '../../style/mixin';
  .my-swipe .van-swipe-item {
      color: #fff;
      font-size: 20px;
      line-height: 150px;
      text-align: center;
      background-color: #39a9ed;
  }
    ::v-deep(.van-swipe-item){
        img{
            width: 100%;
        }
    }
  .custom-indicator {
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 2px 5px;
      font-size: 12px;
      background: rgba(0, 0, 0, 0.1);
      color: #ffffff;
  }
    .lst_type1 li{
        img{
            width: 100%;
        }
    }
</style>
